@model List<PetGrooming.Models.Pet>

@{
    ViewBag.Title = "List";
}

<h2>List of Pets</h2>

<table>


    <tr>
        <th>Pet Name</th>
        <th>Species</th>
        <th>Weight</th>
        <th>Color</th>
        <th>Notes</th>
    </tr>

    @{
        foreach (var Pet in Model)
        {
            <tr>
                <td><a href="/Pet/Show/@Pet.PetID">@Pet.PetName</a></td>
                <td>@Pet.Species.Name</td>
                <td>@Pet.Weight</td>
                <td>@Pet.Color</td>
                <td>@Pet.Notes</td>
            </tr>
        }
    }

</table>