
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<div>Name : @Model.PetName</div>
<div>Species : @Model.Species.Name</div>
<div>Weight : @Model.Weight</div>
<div>Species : @Model.Color</div>
<div>Species : @Model.Notes</div>

<div></div>

