@model PetGrooming.Models.ViewModels.UpdatePet


@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<a href="/Pet/List">Back to list</a>
<form action="/Pet/Update/@Model.pet.PetID" method="POST">
    <span>Pet Name</span><input type="text" value="@Model.pet.PetName" id="PetName" name="PetName" /><br />
    <span>Pet Color</span><input type="text" value="@Model.pet.Color" id="PetColor" name="PetColor" /><br />
    <span>Pet Weight</span><input type="text" value="@Model.pet.Weight" id="PetWeight" name="PetWeight" /><br />
    <span>Species: </span>
    <select name="SpeciesID" id="SpeciesID">
    @{
    foreach(var species in Model.species)
    {
        string selected = "";
        if(species.SpeciesID == @Model.pet.SpeciesID)
        {
            selected= "selected";
        }
        <option value="@species.SpeciesID" @selected>@species.Name</option>
    }
    }

    </select>
    <div>
        <span>Pet Notes</span>
        <textarea id="PetNotes" name="PetNotes">@Model.pet.Notes</textarea>
    </div>
    <input type="submit" value="update pet" />
</form>